# deprecated vector db settings
QDRANT_API_KEY= # use your credentials
QDRANT_URL= # use your credentials
QDRANT_COLLECTION= # your collection name   

# ollama settings
OLLAMA_BASE_URL=http://localhost:11434
EMBED_MODEL=BAAI/bge-m3 #nomic-embed-text
CHAT_MODEL=deepseek-r1 #llama3.1
EMBED_PROVIDER=sentence_transformers
TOP_K=3
ZH_CHUNK_SIZE=1200
ZH_CHUNK_OVERLAP=150
MAX_TOKEN=250

# SQLite
# DB_URI=sqlite:///data/chinook/Chinook_Sqlite.sqlite
SQL_TABLE=Track # default table for CLI (optional)
SQL_PK=TrackId
SQL_UPDATED_AT=TrackId # use 'updated_at' if live added

# My SQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=Chinook_AutoIncrement
MYSQL_USER=root
MYSQL_PASSWORD= # use your credentials

VECTOR_PROVIDER=milvus
# MILVUS_URI=http://localhost:19530
MILVUS_LITE_DB=./milvus.db
MILVUS_DB=default
MILVUS_COLLECTION=chatbot_docs

# LLM API
LLM_PROVIDER=deepseek
API_KEY= # use your credentials
API_BASE_URL=https://api.deepseek.com
MODEL_NAME=deepseek-chat

ANSWER_PERSONA=phone_mom

#ECS
ECS_HOST= # use your credentials
ECS_PASSWORD= # use your credentials
ECS_USER= # use your credentials
