qdrant-client
setuptools<81
pymilvus==2.5.16
fastapi==0.128.1
uvicorn==0.40.0
python-dotenv
typer
rich
requests
tqdm
SQLAlchemy
rapidfuzz
pymysql
sentence-transformers
transformers
torch
sentencepiece
einops
numpy
cryptography
openpyxl
pandas
xlrd
langfuse>=3,<4

